<% layout("layouts/boilerplates")%>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" name="campground[title]" class="form-control" required>
                    <div class="valid-feedback">Looks good!!!</div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" id="location" name="campground[location]" class="form-control" required>
                    <div class="valid-feedback">Looks good!!!</div>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="image">Upload Images</label>
                    <input type="file" class="form-control" name="image" id="image" multiple required>
                    <div class="valid-feedback">Looks good!!!</div>
                </div>
                <!-- <div class="mb-3">
                    <input type="file" id="image" name="image" class="" multiple>
                </div> -->
                <!-- <div class="mb-3">
                    <label for="image" class="form-label">Image Url</label>
                    <input type="text" id="image" name="campground[image]" class="form-control" required>
                    <div class="valid-feedback">Looks good!!!</div>
                </div> -->
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" placeholder="0" id="price" name="campground[price]"
                            required>
                        <div class="valid-feedback">Looks good!!!</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" id="description" name="campground[description]" class="form-control"
                        required></textarea>
                    <div class="valid-feedback">Looks good!!!</div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Campground</button>
                </div>
            </form>
            <a href="/campgrounds">All Campgrounds</a>
        </div>
    </div>